/* CTAs */

.cta-inset {
box-shadow: inset 0px -3px 0px;
}

.cta--medium {

}

.cta--small {

}

.cta-portal {
  /* width: 153px; */
  border: 0;
  height: 50px;
  background: linear-gradient(90deg, #0E7FFC 0%, #1B2DFF 100%);
  border-radius: 5px;
}
