.exp-inner {
  display: block;
}

.description {
  display: inline;
}

.expandable {
  /* important */
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  max-height: 70px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;

  /* not important */
  position: relative;

  &.expanded {
    /* important */
    max-height: 9999px;
    overflow: auto;

    /* not important */
    transition: all 0.25 ease;

    &:after {
      content: "^";
      display: block;
      position: absolute;
      top: 1em;
      right: 1em;
    }
  }

  /* not important */
  &:after {
    content: ">";
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}



.data-table {
  /* table-layout: fixed; */
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* white-space: nowrap; */
}

.data-table li {
  vertical-align: top;
}

/* Column widths are based on these cells */
.row-company {
  /* padding: 0; */
  /* margin: 0; */
  /* width: 290px; */
  flex-basis: 25%;
}

.row-contact {
  /* flex-basis: 160px; */
  /* width: 160px; */
  flex-basis: 20%;
}

.row-description {
  /* width: 290px; */
  flex-basis: 40%;


}

.row-code {
  /* width: 75px; */
  flex-basis: 10%;
}

.data-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table th {

}

.data-table td,
.data-table th {
  padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
  line-height: inherit;
  text-align: left;

}

.data-table td {
  border-radius: 5px;
}
.data-table tr:nth-child(even) {
  /* background: var(--gray-lightest); */
}

