.rad-gradient {
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rad-gradient--reef {
  background: #2304FF;
background: rgba(0,181,253,1);
background: -moz-linear-gradient(-45deg, rgba(0,181,253,1) 0%, rgba(27,36,255,1) 82%, rgba(33,4,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,181,253,1)), color-stop(82%, rgba(27,36,255,1)), color-stop(100%, rgba(33,4,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,181,253,1) 0%, rgba(27,36,255,1) 82%, rgba(33,4,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,181,253,1) 0%, rgba(27,36,255,1) 82%, rgba(33,4,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,181,253,1) 0%, rgba(27,36,255,1) 82%, rgba(33,4,255,1) 100%);
background: linear-gradient(135deg, rgba(0,181,253,1) 0%, rgba(27,36,255,1) 82%, rgba(33,4,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5fd', endColorstr='#2104ff', GradientType=1 );
}

.sidebar-gradient:before {
background: rgba(33,128,252,1);
background: -moz-linear-gradient(top, rgba(33,128,252,1) 0%, rgba(47,0,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,128,252,1)), color-stop(100%, rgba(47,0,254,1)));
background: -webkit-linear-gradient(top, rgba(33,128,252,1) 0%, rgba(47,0,254,1) 100%);
background: -o-linear-gradient(top, rgba(33,128,252,1) 0%, rgba(47,0,254,1) 100%);
background: -ms-linear-gradient(top, rgba(33,128,252,1) 0%, rgba(47,0,254,1) 100%);
background: linear-gradient(to bottom, rgba(33,128,252,1) 0%, rgba(47,0,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2180fc', endColorstr='#2f00fe', GradientType=0 );
  background-size: cover;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10px;
}

.gradient-lightest {
background: var(--gradient-lightest);
}

.gradient-light {
background: var(--gradient-light);
}

.gradient-blue {
background: var(--gradient-blue);
}

.gradient-dark {
background: var(--gradient-dark);
}

.bg-download {
opacity: 0.95;
background: linear-gradient(180deg, #003247 0%, #04054C 100%);
}
