/* ------------------------- */
/* Helpers */

.vh-100 {
  min-height: 100vh;
}

.vw-100 {
  min-width: 100vw;
}

.muted {
  color: #C4CACE;
}

.bb-subtle {
  border:1px;
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color: #D9DEE2;
}

/* ------------------------- */
.pill {
  border-radius: 100px;
  height: 41px;
  margin: .5rem;
}
