.shadow {
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.20);
}

.shadow-default {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);
}

.table-shadow {
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.shadow-input {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
}

.shadow-subtle {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.shadow-b {
  content: "";
  /* -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.20); */
  /* -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.20); */
  box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.20);
  border: 0;
}

.shadow-sidebar {
  box-shadow: 4px 0 10px 0 rgba(0,0,0,0.1);
}

.shadow-card {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.05);
}

.shadow-stats {
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.05);
}
