
:root {
  --font-family: 'aktiv-grotesk', Helvetica, sans-serif;
  /* --line-height: 1.5; */
  /* --heading-font-family: var(--font-family); */
  --heading-font-weight: 400;
  /* --heading-line-height: 1.25; */
  /* --monospace-font-family: 'Source Code Pro', Consolas, monospace; */

/* Typograghpy Size */
  --uber: 48px;
  --h1: 42px;
  --h2: 24px;
  --h3: 21px;
  --h4: 18px;
  --h5: 16px;
  --h6: 14px;
  --subtitle: 18px;
  --p: 14px;
  --p-sm: 14px;
  --p-stats: 15px;
  --taxonomy: 16px;
  --alt-goth: 'alternate-gothic-no-2-d', sans-serif;
  --alt-goth-font-size: 72px;
  --aktiv-thin: 'aktiv-grotesk-thin', sans-serif;

/* Type Weight */
  --p-font-weight: 300;
  --h1-font-weight: 400;
  --h2-font-weight: 400;
  --h3-font-weight: 400;
  --h4-font-weight: 300;
  --h5-font-weight: 400;
  --h6-font-weight: 300;
  --subtitle-font-weight: 300;

  /* Typography Line Height */
  --heading-line-height: 1.25;
  --uber-line-height: 48px;
  --h1-line-height: 39px;
  --h2-line-height: 31px;
  --h3-line-height: 25px;
  --h4-line-height: 24px;
  --h5-line-height: 16px;
  --subtitle-line-height: 24px;
  --p-line-height: 16px;
  --p-sm-line-height: 16px;
  --taxonomy-line-height: 16px;

/* Typography Letter Spacing */
  --uber-letter-spacing: -1px;
  --h1-letter-spacing: -0.8px;
  --h2-letter-spacing: -0.6px;
  --h3-letter-spacing: -0.4px;
  --h4-letter-spacing: -0.2px;
  /* --h5-letter-spacing: -1; */
  --caps-letter-spacing: .2px;
  --subtitle-letter-spacing: normal;


  /* Gradients for backgrounds and full width sections */
  --gradient-lightest: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);

  --gradient-light: linear-gradient(to right, #c7dae9 0%, #638caa 100%);

  --gradient-blue: linear-gradient(to right, # 0%, #dee8f0 100%);

  --gradient-dark: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);





  /* --bold-font-weight: bold; */
  /* --space-1: .5rem; */
  /* --space-2: 1rem; */
  /* --space-3: 2rem; */
  /* --space-4: 4rem; */
  /* --form-field-font-size: 1rem; */
  /* --form-field-height: 2.25rem; */
  /* --form-field-padding-y: .5rem; */
  /* --form-field-padding-x: 2rem; */
  /* --button-font-size: inherit; */
  /* --button-font-weight: bold; */
  /* --button-line-height: 1.125rem; */
  /* --button-padding-y: .5rem; */
  /* --button-padding-x: 1rem; */
  /* --container-width: 64em; */
  /*  */
  /* --darken-1: rgba(0,0,0,.0625); */
  /* --darken-2: rgba(0,0,0,.125); */
  /* --darken-3: rgba(0,0,0,.25); */
  /* --darken-4: rgba(0,0,0,.5); */
  /*  */
  /* --lighten-1: rgba(255,255,255,.0625); */
  /* --lighten-2: rgba(255,255,255,.125); */
  /* --lighten-3: rgba(255,255,255,.25); */
  /* --lighten-4: rgba(255,255,255,.5); */
  /*  */
  /* --border-width: 1px; */
  --border-radius: 5px;
  /* --border-color: var(--darken-2); */
}
