
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {

  --font-family: 'aktiv-grotesk', Helvetica, sans-serif;
  /* --line-height: 1.5; */
  /* --heading-font-family: var(--font-family); */
  --heading-font-weight: 400;
  /* --heading-line-height: 1.25; */
  /* --monospace-font-family: 'Source Code Pro', Consolas, monospace; */

/* Typograghpy Size */
  --uber: 42px;
  --h1: 29px;
  --h2: 24px;
  --h3: 20px;
  --h4: 17px;
  --h5: 12px;
  --h6: 12px;
  --subtitle: 17px;
  --p: 14px;
  --p-sm: 12px;
  --p-stats: 15px;
  --taxonomy: 16px;
  --alt-goth: 'alternate-gothic-no-2-d', sans-serif;
  --alt-goth-font-size: 72px;

/* Type Weight */
  --p-font-weight: 400;
  --p-sm-font-weight: 500;
  --uber-font-weight: 500;
  --h1-font-weight: 500;
  --h2-font-weight: 500;
  --h3-font-weight: 300;
  --h4-font-weight: 300;
  --h5-font-weight: 500;
  --h6-font-weight: 300;
  --subtitle-font-weight: 300;

  /* Typography Line Height */
  --heading-line-height: 1.25;
  --uber-line-height: 48px;
  --h1-line-height: 33px;
  --h2-line-height: 27px;
  --h3-line-height: 22px;
  --h4-line-height: 17px;
  --h5-line-height: 14px;
  --subtitle-line-height: 24px;
  --p-line-height: 19px;
  --p-sm-line-height: 14px;
  --taxonomy-line-height: 16px;

/* Typography Letter Spacing */
  --uber-letter-spacing: 0;
  --h1-letter-spacing: 0;
  --h2-letter-spacing: 0;
  --h3-letter-spacing: 0;
  --h4-letter-spacing: 0;
  --h5-letter-spacing: 0;
  --caps-letter-spacing: .2px;
  --subtitle-letter-spacing: normal;
  --p-letter-spacing: 0;
  --taxonomy-letter-spacing: 0;

  /* Gradients for backgrounds and full width sections */
  --gradient-lightest: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);

  --gradient-light: linear-gradient(to right, #c7dae9 0%, #638caa 100%);

  --gradient-blue: linear-gradient(to right, # 0%, #dee8f0 100%);

  --gradient-dark: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);





  /* --bold-font-weight: bold; */
  --space-5: 5px;
  --space-10: 10px;
  --space-15: 15px;
  --space-20: 20px;
  --space-25: 25px;
  --space-50: 50px;
  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: 25px;
  --form-field-padding-x: 25px;
  /* --button-font-size: inherit; */
  /* --button-font-weight: bold; */
  /* --button-line-height: 1.125rem; */
  /* --button-padding-y: .5rem; */
  /* --button-padding-x: 1rem; */
  /* --container-width: 64em; */
  /*  */
  /* --darken-1: rgba(0,0,0,.0625); */
  /* --darken-2: rgba(0,0,0,.125); */
  /* --darken-3: rgba(0,0,0,.25); */
  /* --darken-4: rgba(0,0,0,.5); */
  /*  */
  /* --lighten-1: rgba(255,255,255,.0625); */
  /* --lighten-2: rgba(255,255,255,.125); */
  /* --lighten-3: rgba(255,255,255,.25); */
  /* --lighten-4: rgba(255,255,255,.5); */
  /*  */
  /* --border-width: 1px; */
  --border-radius: 5px;
  --border-color: #D9DEE2;
}
