.shadow{
  box-shadow:0px 0px 18px 4px rgba(0,0,0,0.20);
}

.table-shadow{
  border:1px solid #D9DEE2;
  border-radius:5px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
}

.shadow-subtle{
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
}

.shadow-b{
  content:"";
  box-shadow:0px 8px 6px -6px rgba(0,0,0,0.20);
  border:0;
}

.shadow-sidebar{
box-shadow:4px 0 10px 0 rgba(0,0,0,0.1);
}
