.p0{ padding:0 }

.p1{ padding:.5rem }

.py1{ padding-top:.5rem; padding-bottom:.5rem }

.px1{ padding-left:.5rem; padding-right:.5rem }

.p2{ padding:1rem }

.py2{ padding-top:1rem; padding-bottom:1rem }

.px2{ padding-left:1rem; padding-right:1rem }

.p3{ padding:2rem }

.py3{ padding-top:2rem; padding-bottom:2rem }

.px3{ padding-left:2rem; padding-right:2rem }

.p4{ padding:4rem }

.py4{ padding-top:4rem; padding-bottom:4rem }

.px4{ padding-left:4rem; padding-right:4rem }

