
.portal-sidebar{
  min-width:300px;
  z-index:2;
}

.portal-token{
  border-radius:6px;
  min-height:70px;
  width:100%;
}

.portal-search{
  border:1px solid #d9dee2;
  box-shadow:0 3px 10px 0 rgba(0,0,0,0.1);
  min-height:73px;
}

.portal-input{
  width:466px;
  height:70px;
  background-color:#FFFFFF;
  box-shadow:0 6px 15px 0 rgba(0,0,0,0.3);
  border-radius:5px;
  min-height:70px;
}

.icon-download{
  background:url("../../img/icon-download.svg") no-repeat;
  background-size:contain;
  background-position:center center;
  border:0;
  display:block;
  height:32px;
  width:200px;
}

.form-download{
  background-color:#ECEFF1;
  box-shadow:0 1px 2px 0 #D9DEE2;
  border:1px solid #D9DEE2;
  border-radius:5px;
}

.flourish{
  border:1px;
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:black;
  width:32px;
}


.border-subtle{
  border:1px solid #D9DEE2;
}

.vh-100{
  min-height:100vh;
}

.vw-100{
  min-width:100vw;
}

.form-right{
  margin-left:auto;
}

.bg-light{
  background-color:rgba(248, 249, 250, 1.0);
}

input[type=text]{
  font-size:inherit;
  padding:18px;
}

.sticky-modal{
  width:800px;
  height:500px;
  border-radius:12px;
  z-index:1000;
}

.sticky-bg{
position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
  z-index:-2;
}

.sticky-bg--col{
  color:white;
}
