.rad-gradient{
  background:#DA22FF;
  background:linear-gradient(to left, #DA22FF , #9733EE);
}

.rad-gradient--reef{
  background:#2304FF;
  background:-webkit-gradient(left top, left bottom, color-stop(0%, #2304ff), color-stop(44%, #08A9F1), color-stop(100%, #00d9e8));
  background:linear-gradient(to bottom, #2304ff 0%, #08A9F1 44%, #00d9e8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2304ff', endColorstr='#00d9e8', GradientType=0 );
}

.sidebar-gradient:before{
  background:#2304FF;
  background:-webkit-gradient(left top, left bottom, color-stop(0%, #2304ff), color-stop(44%, #08A9F1), color-stop(100%, #00d9e8));
  background:linear-gradient(to bottom, #2304ff 0%, #08A9F1 44%, #00d9e8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2304ff', endColorstr='#00d9e8', GradientType=0 );
  background-size:cover;
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100vh;
  width:10px;
}
