
:root {
  --font-family: 'aktiv-grotesk', Helvetica, sans-serif;
  /* --line-height: 1.5; */
  /* --heading-font-family: var(--font-family); */
  --heading-font-weight: 400;
  /* --heading-line-height: 1.25; */
  /* --monospace-font-family: 'Source Code Pro', Consolas, monospace; */

/* Typograghpy Size */
  --uber: 48px;
  --h1: 39px;
  --h2: 31px;
  --h3: 25px;
  --h4: 20px;
  --h5: 16px;
  /* --h6: 16px; */
  --subtitle: 20px;
  --paragraph: 16px;
  --paragraph-sm: 14px;
  --taxonomy: 16px;

  /* Typography Spacing and Height */
  --heading-line-height: 1.25;

  --uber-line-height: 48px;
  --h1-line-height: 39px;
  --h2-line-height: 31px;
  --h3-line-height: 25px;
  --h4-line-height: 20px;
  --h5-line-height: 16px;
  --subtitle-line-height: 20px;
  --paragraph-line-height: 16px;
  --paragraph-sm-line-height: 16px;
  --taxonomy-line-height: 16px;


  --uber-letter-spacing: -1px;
  --h1-letter-spacing: -0.8px;
  --h2-letter-spacing: -0.6px;
  --h3-letter-spacing: -0.4px;
  --h4-letter-spacing: -0.2px;
  /* --h5-letter-spacing: -1; */
  --caps-letter-spacing: .2px;
  --subtitle-letter-spacing: -0.4px;

  /* Colors Core for backgrounds and type */
  --blue: #2b84c6;
  --blue-deep: #034677;
  --blue-50: #97c4e3;
  --gray-medium: #a6a6a6;
  --gray-light: #d9d9d8;
  --gray-lightest: #f2f2f2;
  --slate: #59768c;
  --slate-dark: #234055;
  --slate-light: #9ab2c5;

  /* Colors for CTAs, buttons, and error states on forms */
  --blue-vibe: #38ace2;
  --blue-deep: #1280ba;
  --green: #37b449;
  --green-deep: #058539;
  --orange-red: #f05b24;
  --orange-red-muted: #f69d83;

  /* Gradients for backgrounds and full width sections */
  --gradient-lightest: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);

  --gradient-light: linear-gradient(to right, #c7dae9 0%, #638caa 100%);

  --gradient-blue: linear-gradient(to right, # 0%, #dee8f0 100%);

  --gradient-dark: linear-gradient(to right, #f4f8fa 0%, #dee8f0 100%);





  /* --bold-font-weight: bold; */
  /* --space-1: .5rem; */
  /* --space-2: 1rem; */
  /* --space-3: 2rem; */
  /* --space-4: 4rem; */
  /* --form-field-font-size: 1rem; */
  /* --form-field-height: 2.25rem; */
  /* --form-field-padding-y: .5rem; */
  /* --form-field-padding-x: .5rem; */
  /* --button-font-size: inherit; */
  /* --button-font-weight: bold; */
  /* --button-line-height: 1.125rem; */
  /* --button-padding-y: .5rem; */
  /* --button-padding-x: 1rem; */
  /* --container-width: 64em; */
  /*  */
  /* --darken-1: rgba(0,0,0,.0625); */
  /* --darken-2: rgba(0,0,0,.125); */
  /* --darken-3: rgba(0,0,0,.25); */
  /* --darken-4: rgba(0,0,0,.5); */
  /*  */
  /* --lighten-1: rgba(255,255,255,.0625); */
  /* --lighten-2: rgba(255,255,255,.125); */
  /* --lighten-3: rgba(255,255,255,.25); */
  /* --lighten-4: rgba(255,255,255,.5); */
  /*  */
  /* --border-width: 1px; */
  --border-radius: 5px;
  /* --border-color: var(--darken-2); */
}
