@import 'basscss/basscss';

@import 'shared/_variables';
@import 'shared/_typography';
@import 'shared/_helpers';
@import 'shared/_frame';
@import 'pages/_data-portal';
@import 'shared/_ctas';
@import 'shared/_gradient';
@import 'shared/_colors';
@import 'shared/_shadow';
@import 'shared/_tooltip';
@import 'shared/_data-table';
@import 'shared/_accordion';

@custom-media --breakpoint-sm max-width:750px;
@custom-media --breakpoint-md (min-width:750px) and (max-width:970px);
@custom-media --breakpoint-lg (min-width:970px);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--gray-dark);
}

button:focus {
  outline: none;
}
a,
a:active,
a:visited {
  /* color: #007BFF; */
  /* color: inherit; */
  font-size: var(--p-sm);
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.rad-logo {
  /* background: url("../../img/radius-logo.svg") no-repeat; */
  background-size: cover;
  background-position: center center;
  border: 0;
  display: inline-block;
  max-height: 27px;
  width: 108px;
  margin-left: 0;
  padding-left: 0;
}

.rad-logo-home {
  /* background: url("../../img/radius-logo.svg") no-repeat; */
  background-size: cover;
  background-position: center center;
  border: 0;
  max-height: 22px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  top: 0;
}
.rad-logo-r {
  /* background: url("../../img/radius-logo-r.png") no-repeat; */
  /* background-size: cover; */
  /* background-position: center center; */
  border: 0;
  display: block;
  height: 34px;
  width: 34px;
}

/* ------------------------- */

.icon-download {
  background: url("../../img/icon-download.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  border: 0;
  display: block;
  height: 32px;
  width: 200px;
}

.form-download {
  background-color: #ECEFF1;
  box-shadow: 0 1px 2px 0 #D9DEE2;
  border: 1px solid #D9DEE2;
  border-radius: 5px;
}

/* ------------------------- */
/* Decos */
.flourish {
  background-color: #303B3E;
  border: transparent;
  height: 2px;
  width: 25px;
}

/* ------------------------- */


.bg-light {
  background-color: rgba(248, 249, 250, 1.0);
}

/* ------------------------- */


/* ------------------------- */

/* Expandable / Collapsible Rows */

/* ------------------------- */

