@import 'basscss';
@import 'gradient';
@import 'shadow';

.rad-logo {
  background: url("../../img/radius-logo-white.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  border: 0;
  display: block;
  height: 32px;
  width: 200px;
  z-index: 999;
}

.rad-logo-r {
  /* background: url("../../img/radius-logo-r.png") no-repeat; */
  /* background-size: cover; */
  /* background-position: center center; */
  border: 0;
  display: block;
  height: 34px;
  width: 34px;
}
/* ------------------------- */
/* Typography Helpers */
.text--shout {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: .2rem;
  line-height: .9;
}

.subtitle {
  font-size: 16px;
  letter-spacing: -0.4;
}
/* ------------------------- */

.portal-sidebar {
  min-width: 300px;
  z-index: 2;
}

.portal-token {
  border-radius: 6px;
  min-height: 70px;
  width: 100%;
}

.portal-input {
  width: 466px;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  min-height: 70px;

}


.form-download {
  background-color: #ECEFF1;
  box-shadow: 0 1px 2px 0 #D9DEE2;
  border: 1px solid #D9DEE2;
  border-radius: 5px;
}

.cta-portal {
  width: 153px;
  height: 50px;
  background: linear-gradient(90deg, #00D4FC 0%, #2304FF 100%);
  border-radius: 5px;
}

/* ------------------------- */
/* Decos */
.flourish {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 32px;
}

.bb-subtle {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  opacity: 0.1;
  width: 100%;
}

.border-subtle {
  border: 1px solid #d9d9d8;
}
/* ------------------------- */

/* ------------------------- */
/* Helpers */

.vh-100 {
  min-height: 100vh;
}

.vw-100 {
  min-width: 100vw;
}

.form-right {
  margin-left: auto;
}
/* ------------------------- */

.bg-light {
  background-color: rgba(248, 249, 250, 1.0);
}
