.portal-hero {
  margin-top: 22vh;
  margin-bottom: 22vh;
}

.portal-sidebar {
  min-width: 300px;
  z-index: 2;
}

.portal-token {
  border-radius: 6px;
  min-height: 70px;
  width: 466px;
}

.input-search {
  background: url("../../img/search.svg"),url("../../img/exit.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 25px center, right 25px center ;
  background-size: 14px auto, 14px auto;
  /* border-radius: var(--border-radius); */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d9dee2;
  /* box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1); */
  content: '';
  font-size: var(--h4);
  height: 3.25rem;
  padding-left: 60px;
}

.input-search--large {
  min-height: 73px;
}

.input-default {
  border-radius: var(--border-radius);
  border: 0px solid #d9dee2;
  font-size: var(--h4);
  min-height: 50px;
}

.input-search::placeholder,
.input-search--large::placeholder {
  font-size: var(--h4);
  padding-left: 40px;
}

.portal-input {
  width: 466px;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  min-height: 70px;
}

.icon-download {
  background: url("../../img/icon-download.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  border: 0;
  display: block;
  height: 32px;
  width: 200px;
}

.form-download {
  background-color: #ECEFF1;
  box-shadow: 0 1px 2px 0 #D9DEE2;
  border: 1px solid #D9DEE2;
  border-radius: 5px;
}

.portal-stats {
  min-width: 970px;
  position: relative;
  margin-top: -60px;
}

/* ------------------------- */
/* Decos */
.flourish {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 32px;
}

.border-subtle {
  border: 1px solid #d9d9d8;
}
/* ------------------------- */

/* ------------------------- */
/* Helpers */

.vh-100 {
  min-height: 100vh;
}

.vw-100 {
  min-width: 100vw;
}

.form-right {
  margin-left: auto;
}
/* ------------------------- */

.bg-light {
  background-color: rgba(248, 249, 250, 1.0);
}

/* ------------------------- */

/* ------------------------- */

.caret {
  position: relative;
  cursor: pointer;
}

.caret:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 12px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid black;

}

.gradient-intro {
  background: linear-gradient(90deg, #003247 0%, #04054C 100%);
  opacity: 0.97;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:after::hover {
}
/*  */
/* /* Tooltip text */ */
/* .tooltip .tooltiptext { */
/*   font-family: inherit; */
/*   font-size: 12px; */
/*   visibility: hidden; */
/*   width: 120px; */
/*   background-color: #28292a; */
/*   box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1); */
/*   color: #fff; */
/*   text-align: left; */
/*   padding: 10px; */
/*   border-radius: 6px; */
/*   width: 191px; */
/*   bottom: 30px; */
/*   left: -95px; */
/*   /* Position the tooltip text - see examples below! */ */
/*   position: absolute; */
/*   z-index: 33; */
/*  */
/* } */
/* .tooltip .tooltiptext:after { */
/*   width: 0; */
/*   height: 0; */
/*   border-left: 20px solid transparent; */
/*   border-right: 20px solid transparent; */
/*  */
/*   border-top: 20px solid #f00; */
/*  */
/* } */
/* /* Show the tooltip text when you mouse over the tooltip container */ */
/* .tooltip:hover .tooltiptext { */
/*   visibility: visible; */
/* } */



.sidebar-offer {
  text-decoration: none;
}

.circle-error {
  display: block;
  height: 16px;
  width: 16px;
}

.bb-muted {
  border-bottom: 1px solid #D9DEE2;
}

