.portal-sidebar {
  min-width: 300px;
  z-index: 2;
}

.portal-token {
  border-radius: 6px;
  min-height: 70px;
  width: 466px;
}

.portal-search {

  /* box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1); */
  /* width: 971px; */
  background: transparent url("../../img/icon-download.svg") no-repeat 16px center;
  background-size: 30px auto;
  border-radius: var(--border-radius);
  border: 0px solid #d9dee2;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
  content: '';
  font-family: var(--aktiv-thin);
  height: 73px;
  min-height: 73px;
}

.portal-search::placeholder {
  font-family: var(--aktiv-thin);
  font-weight: 200;
  font-size: 18px;
  padding-left: 40px;
}

.portal-search {

}

.portal-input {
  width: 466px;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  min-height: 70px;
}

.icon-download {
  background: url("../../img/icon-download.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  border: 0;
  display: block;
  height: 32px;
  width: 200px;
}

.form-download {
  background-color: #ECEFF1;
  box-shadow: 0 1px 2px 0 #D9DEE2;
  border: 1px solid #D9DEE2;
  border-radius: 5px;
}

.portal-stats {
  margin: 0 auto;
  max-width: 970px;
  min-height: 400px;
  position: relative;
  top: -40px;
}

/* ------------------------- */
/* Decos */
.flourish {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 32px;
}

.border-subtle {
  border: 1px solid #d9d9d8;
}
/* ------------------------- */

/* ------------------------- */
/* Helpers */

.vh-100 {
  min-height: 100vh;
}

.vw-100 {
  min-width: 100vw;
}

.form-right {
  margin-left: auto;
}
/* ------------------------- */

.bg-light {
  background-color: rgba(248, 249, 250, 1.0);
}

/* ------------------------- */
input[type=text] {
  font-size: inherit ;
  padding: 18px;
}

/* ------------------------- */


.sticky-modal {
  width: 800px;
  height: 500px;
  border-radius: 12px;
  z-index: 1000;
}

.sticky-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

.sticky-bg--col {
  color: white;
  /*   position: absolute; */
  /*   top: 0; */
  /*   left: 0; */
  /*   right: 0; */
  /*   bottom: 0; */
  /*   margin: auto; */
  /*   min-width: 50%; */
  /*   min-height: 50%; */
  /* z-index: 99; */
}

.caret {
  position: relative;
  cursor: pointer;
}

.caret:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 12px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid black;
}
.gradient-intro {
  background: linear-gradient(90deg, #003247 0%, #04054C 100%);
  opacity: 0.97;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:after::hover {
}
/*  */
/* /* Tooltip text */ */
/* .tooltip .tooltiptext { */
/*   font-family: inherit; */
/*   font-size: 12px; */
/*   visibility: hidden; */
/*   width: 120px; */
/*   background-color: #28292a; */
/*   box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1); */
/*   color: #fff; */
/*   text-align: left; */
/*   padding: 10px; */
/*   border-radius: 6px; */
/*   width: 191px; */
/*   bottom: 30px; */
/*   left: -95px; */
/*   /* Position the tooltip text - see examples below! */ */
/*   position: absolute; */
/*   z-index: 33; */
/*  */
/* } */
/* .tooltip .tooltiptext:after { */
/*   width: 0; */
/*   height: 0; */
/*   border-left: 20px solid transparent; */
/*   border-right: 20px solid transparent; */
/*  */
/*   border-top: 20px solid #f00; */
/*  */
/* } */
/* /* Show the tooltip text when you mouse over the tooltip container */ */
/* .tooltip:hover .tooltiptext { */
/*   visibility: visible; */
/* } */

.circle {

  content: '';
  border-radius: 50%;
  color: #fff;
  font-family: var(--aktiv-thin);
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 16px;
}


